<!DOCTYPE html>
<html>
  <head>
    <title>Rabbit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <div class="nav navbar navbar-default">
		<div class="container">
		  <div class="navbar-brand"><%=link_to "TASK RABBIT" ,root_path%></div>
		  <ul class="nav navbar-nav">
		  	<li><%=link_to "All Tasks", root_path%></li>
		 	<%Category.all.each do |category|%>
		 	<li><%=link_to category.name, tasks_path(category:category.name)%></li>
		  	<%end%>
		  	<li><%=link_to "New Task", new_task_path%></li>
		  	</ul>
		</div>
		</div>
	  <div class="container">
<div class="col-md-8 col-md-offset-2">
	    <%= yield %>
	    </div>
	    </div>
  </body>
</html>
